				/* text alignment */
.txt-center
{ text-align:center;
}

.txt-justify
{ text-align: justify;
}

.txt-right
{ text-align:right;
}

				/* header styles */
h1
{ font-size: 2.6rem;
}

h2
{ font-size: 2.1rem;
}

h3
{ font-size: 1.85rem;
}

h4
{ font-size: 1.6rem;
}

h5
{ font-size: 1.4rem
}

h6
{ font-size: 1.2rem;
}
				/* headers and footers */
.shch-face
{ padding: 12px 12px 28px 12px;
}


.shch-foot
{ padding: 28px 12px 12px 12px;
}

.shch-foot p
{ font-family: Helvetica, Arial, sans-serif;
  background-color: #afcbb8;
}

				/* horizontal rules*/
.shch-horizontal-rule, .shch-hr
{ width: auto;
  height: 52px;
}


				/* center screen */
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/
/*
*/