				/* flex drawer = row */
.shch-drawer
{ display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: auto;

  padding: 0px 10px 22px 10px;
  border: 2px groove transparent;//alt-color=green
}

.shch-drawer p::first-letter
{ font-size: 1.3em;
  font-wight: bold;
}

				/* flex-bins = columns */
	
.shch-bin-0-575-100percent, .shch-bin-0-575-50percent,
.shch-bin-alpha-100, .shch-bin-alpha-50,
.shch-bin-576-767-100percent, .shch-bin-576-767-50percent, .shch-bin-576-767-33percent,
.shch-bin-beta-100, .shch-bin-beta-50, .shch-bin-beta-33,
.shch-bin-768-991-100percent, .shch-bin-768-991-50percent, .shch-bin-768-991-33percent, .shch-bin-768-991-25percent,
.shch-bin-gamma-100, .shch-bin-gamma-50, .shch-bin-gamma-33, .shch-bin-gamma-25,
.shch-bin-992-1199-33percent, .shch-bin-992-1199-25percent,
.shch-bin-delta-33, .shch-bin-delta-25,
.shch-bin-1200-1779-100percent, .shch-bin-1200-1779-33percent, .shch-bin-1200-1779-25percent,
.shch-bin-epsilon-100, .shch-bin-epsilon-33, .shch-bin-epsilon-25,
.shch-bin-1780-andup-100percent, .shch-bin-1780-andup-33percent, .shch-bin-1780-andup-25percent,
.shch-bin-zeta-100, .shch-bin-zeta-33, .shch-bin-zeta-25
{ height: auto;

  padding: 2px 18px 2px 18px;
  border: 2px ridge transparent;//alt-color=gray
}

				/* alpha-media; and 0px - 575px */
@media (min-width: 0) {

.shch-bin-alpha-100
{ width: 100%;
}

.shch-bin-alpha-50
{ width: 50%;
}
//alpha-media ends
}

@media (min-width: 0) and (max-width: 575px) {

.shch-bin-0-575-100percent
{ width: 100%;
}

.shch-bin-0-575-50percent
{ width: 50%;
}
//bin-0-575-media ends
}

				/* beta-media; and 576px  - 767px */
@media (min-width: 576px) {

.shch-bin-beta-100
{ width: 100%;
}

.shch-bin-beta-50
{ width: 50%;
}

.shch-bin-beta-33
{ width: 33.33%;
}
//beta-media ends
}

@media (min-width: 576px) and (max-width: 767px) {

.shch-bin-576-767-100percent
{ width: 100%;
}

.shch-bin-576-767-50percent
{ width: 50%;
}

.shch-bin-576-767-33percent
{ width: 33.33%;
}
//bin-576-767-media ends
}


				/* gamma-media; and 768px  - 991px */			
@media (min-width: 768px) {

.shch-bin-gamma-100
{ width: 100%;
}

.shch-bin-gamma-50
{ width: 50%;
}

.shch-bin-gamma-33
{ width: 33.33%;
}

.shch-bin-gamma-25
{ width: 25%;
}
//gamma-media ends
}

@media (min-width: 768px) and (max-width: 991px) {

.shch-bin-768-991-100percent
{ width: 100%;
}

.shch-bin-768-991-50percent
{ width: 50%;
}

.shch-bin-768-991-33percent
{ width: 33.33%;
}

.shch-bin-768-991-25percent
{ width: 25%;
}
//bin-768-991-media ends
}

				/* delta-media; and 992px - 1199px */

@media (min-width: 992px) {

.shch-bin-delta-33
{ width: 33.33%;
}

.shch-bin-delta-25
{ width: 25%;
}
//delta-media ends
}

@media (min-width: 992px) and (max-width: 1199px) {

.shch-bin-992-1199-33percent
{ width: 33.33%;
}

.shch-bin-992-1199-25percent
{ width: 25%;
}
//bin-992-1199-media ends
}

				/* epsilon-media; and 1200px  - 1779px */
@media (min-width: 1200px) {

.shch-bin-epsilon-100
{ width: 100%;
}

.shch-bin-epsilon-33
{ width: 33.33%;
}

.shch-bin-epsilon-25
{ width: 25%;
}
//epsilon-media ends
}

@media (min-width: 1200px) and (max-width: 1779px) {

.shch-bin-1200-1779-100percent
{ width: 100%;
}

.shch-bin-1200-1779-33percent
{ width: 33.33%;
}

.shch-bin-1200-1779-25percent
{ width: 25%;
}
//bin-1200-1779-media ends
}

				/* zeta-media; and 1780px - undup */
@media (min-width: 1780px) {

.shch-bin-1780-andup-100percent, .shch-bin-zeta-100
{ width: 100%;
}

.shch-bin-1780-andup-33percent, .shch-bin-zeta-33
{ width: 33%;
}

.shch-bin-1780-andup-25percent, .shch-bin-zeta-25
{ width: 25%;
}
//zeta-media ends
//bin-1780-andup ends
}